<div class="games">
Count of added games: <b><%= @games.size %></b>
<hr />
<% for game in @games %>
<h3 class="loud">
<%= link_to game.title, game %> <% if game.published? %> | <%= link_to 'Edit', edit_game_path(game) %><% end %>
</h3>
<hr />
<% end %>
</div>
